{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": false
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-undef": "error"
  }
}